# General ignores
!.gitignore
/build/
/resources/
# Hidden files and stuff
/**/.DS_Store

# In case someone edits the documentation with Zettlr.
/**/.ztr-directory

.yarn
node_modules
# VuePress default temp directory
/**/.vuepress/.temp
# VuePress default cache directory
/**/.vuepress/.cache
# VuePress default build output directory
/**/.vuepress/dist
