:root {
  --vp-c-accent: #1cb27e;
  --vp-c-accent-bg: #1cb27e;
  --font-family: 'Inter', 'Noto Sans', -apple-system, 'Segoe UI', roboto, oxygen, ubuntu,
    cantarell, 'Helvetica Neue', sans-serif;
}

kbd {
  letter-spacing: 0;
}
